App7/App7/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://opnetin-002-site25.dtempurl.com/Service/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Delivery.Model" />
  <xs:import schemaLocation="http://opnetin-002-site25.dtempurl.com/Service/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfService.Modelo" />
  <xs:element name="SetFoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stream" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFotoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="la" type="xs:double" />
        <xs:element minOccurs="0" name="lo" type="xs:double" />
        <xs:element minOccurs="0" name="distancia" type="xs:double" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="categoria" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetFoodLineResult" nillable="true" type="q1:ArrayOfFoodLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="p" nillable="true" type="q2:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ciudad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetProveedoresResult" nillable="true" type="q3:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedorPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedorPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetProveedorPorUsuarioResult" nillable="true" type="q4:Proveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetPlatosResult" nillable="true" type="q5:ArrayOfPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="p" nillable="true" type="q6:Plato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPlatoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPlatoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetPlatosProveedorResult" nillable="true" type="q7:ArrayOfPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatosActivosProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlatosActivosProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetPlatosActivosProveedorResult" nillable="true" type="q8:ArrayOfPlato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProve" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetPedidoProveedorResult" nillable="true" type="q9:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPedidoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetPedidoUsuarioResult" nillable="true" type="q10:ArrayOfPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="p" nillable="true" type="q11:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePedido">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="p" nillable="true" type="q12:Pedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePedidoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVistoPedidoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVistoPedidoUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVistoPedidoProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPedido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVistoPedidoProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentariosNuevos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentariosNuevosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComentariosNuevosResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="u" nillable="true" type="q13:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="facebookid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetUsuarioResult" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioProv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioProvResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLikeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFavoritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetFavoritosResult" nillable="true" type="q15:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodLineGeo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="la" type="xs:double" />
        <xs:element minOccurs="0" name="lo" type="xs:double" />
        <xs:element minOccurs="0" name="distancia" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFoodLineGeoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetFoodLineGeoResult" nillable="true" type="q16:ArrayOfFoodLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService.Modelo" minOccurs="0" name="SearchResult" nillable="true" type="q17:ArrayOfResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="c" nillable="true" type="q18:Comentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetComentarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPlato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComentarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetComentarioResult" nillable="true" type="q19:ArrayOfComentario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSeguidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService.Modelo" minOccurs="0" name="p" nillable="true" type="q20:Seguidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSeguidorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeguidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeguidorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SoySeguidor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SoySeguidorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SoySeguidorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumSeguidores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumSeguidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumSeguidoresResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeguidores">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProveedor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeguidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService.Modelo" minOccurs="0" name="GetSeguidoresResult" nillable="true" type="q21:ArrayOfSeguidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferencias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreferenciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService.Modelo" minOccurs="0" name="GetPreferenciasResult" nillable="true" type="q22:ArrayOfSeguidores" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionPlato">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProve" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="plato" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="prove" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageProv" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imagePlat" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarNotificacionPlatoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneFoodLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOneFoodLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetOneFoodLineResult" nillable="true" type="q23:FoodLine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedoresGPS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="la" type="xs:double" />
        <xs:element minOccurs="0" name="lo" type="xs:double" />
        <xs:element minOccurs="0" name="distancia" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProveedoresGPSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Delivery.Model" minOccurs="0" name="GetProveedoresGPSResult" nillable="true" type="q24:ArrayOfProveedor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>